/* -- FONTS -- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&display=swap');

/* -- Base Styles -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
body {
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
}

/* -- Body Styles -- */

header {
    margin: 0;
    padding: 0;
    background-color: rgb(39, 52, 65);
    color: white;
    height: 50px;
    width: 100%;
    text-align: center;
}
header h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 15px;
}
.main {
    max-width: 93%;
    margin: auto;
}
.top {
    text-align: center;
    margin: 25px;
}
.top h1,
h2 {
    font-size: 17px;
}
h2 {
    padding: 20px 0;
}
.top p,
.top h1 {
    padding: 5px;
}
p {
    padding: 10px 0;
    font-size: 12px;
    color: rgb(138, 155, 172);
}
.checktype,
.format {
    display: flex;
    flex-direction: column;
}
.format {
    padding-top: 0;
}
.end {
    padding-top: 10px;
}
footer p {
    font-style: italic;
    font-weight: 300;
    text-align: center;
}
/* -- Form Elements and Attributes -- */
fieldset {
    border: none;
    border-radius: 4px;
}
label {
    color: rgb(138, 155, 172);
}
label,
input {
    font-size: 12px;
    margin: 12px 0;
}
input,
select {
    border: none;
    background-color: rgb(240, 240, 241);
    width: 100%;
    height: 48px;
    border-radius: 4px;
    padding: 0 15px;
    margin: 10px 0;
}
input:focus {
    border: rgb(39, 52, 65) 2px solid;
    border-radius: 4px;
}
input[type='checkbox'],
input[type='radio'] {
    width: 12px;
    height: 12px;
    margin: 10px;
}
input:hover,
select:hover {
    border: rgb(39, 52, 65) 2px solid;
    border-radius: 4px;
}
input[id='other'] {
    height: 95px;
}
.select-wrapper {
    width: 100%;
}
select[id='state'] {
    color: rgb(178, 178, 179);
    padding: 0 15px;
}
label[for='state'] {
    padding: 10px 0;
}
input[placeholder='Required'] {
    padding: 0 15px;
    margin: 10px 0;
}
input:placeholder-shown {
    font-weight: 300;
    font-style: italic;
    color: rgb(178, 178, 179);
    text-align: right;
  }
input[type='submit'] {
    background-color: #52bab3;
    color: white;
    font-size: 16px;
}
select {
    -webkit-appearance: none;
    appearance: none;
  }
.select-wrapper {
    position: relative;
}  
.select-wrapper::before {
    content: "▲";
    font-size: .5rem;
    top: 22px;
    right: 10px;
    position: absolute;
}
.select-wrapper::after {
    content: "▼";
    font-size: .5rem;
    top: 35px;
    right: 10px;
    position: absolute;
}
.zipflex {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* -- Dividing Lines -- */
hr {
    border: none;
    border-top: 3px solid black;
    padding: 1.5px;
    margin: 0;
}
.double {
    height: 5px;
    border-bottom: 1px solid black;
}
.hline {
    border: none;
    border-top: 3px solid black;
    padding: 1.5px;
}

/* -- Media Queries -- */

@media screen and (min-width: 500px) {
    input[id="zip"] {
        width: 50%;
    }
    .zipflex {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .zipflex label {
        margin-right: 45px;
    }
}
@media screen and (min-width: 798px) {
    .main {
        max-width: 50%;
    }
    .midarea {
        display: flex;
        flex-direction: column;
    }
    .mainformflex {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .mainformflex label {
        width: 130px;
        padding-top: 15px;
    }
    label[for="state"] {
        width: 127px;
    }
    select[id='state'] {
        width: 100%;
        border: none;
        background-color: rgb(240, 240, 241);
        height: 48px;
        border-radius: 4px;
        padding: 0 15px;
        margin: 10px 0;
    }
    select {
        -webkit-appearance: none;
        appearance: none;
      }
    .select-wrapper {
        position: relative;
    }  
    .select-wrapper::before {
        content: "▲";
        font-size: .5rem;
        top: 22px;
        right: 10px;
        position: absolute;
    }
    .select-wrapper::after {
        content: "▼";
        font-size: .5rem;
        top: 35px;
        right: 10px;
        position: absolute;
    }
    label[for="zip"] {
        width: 63px;
    }
    input[id="zip"] {
        width: 25%;
    }
    .zipflex label {
        margin-right: 45px;
    }
    .hline {
        margin-top: 20px;
    }
}